on:
  push:
    branches:
    - master
    - next
  pull_request:
    branches:
    - master
name: Continuous Integration
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ 8, 11, 17 ]
    name: Java ${{ matrix.java }}
    steps:
      - name: Checkout with submodules
        uses: actions/checkout@v3.1.0
        with:
          submodules: true
      - name: Setup java
        uses: actions/setup-java@v3.6.0
        with:
          java-version: ${{ matrix.java }}
          distribution: temurin
          cache: maven
      - name: Set SSH key
        uses: webfactory/ssh-agent@v0.7.0
        with:
          ssh-private-key: ${{ secrets.SSH_KEY }}
      - name: Add host key
        run: ssh-keyscan javacard.pro >> ~/.ssh/known_hosts
      - run: ./mvnw -T1C -B -U verify
      - run: ant test
      - name: Deploy snapshot on next branch
        if: github.ref == 'refs/heads/next' && matrix.java == 8
        run: ./mvnw -B -U deploy
